<h2>Edit Gif:</h2>

<form action="/{{gif.id}}?_method=put" method="POST" accept-charset="utf-8">
  <p>
    URL:<br><input type="text" name="URL" value="{{gif.url}}"/><br>
    Title:<br><input type="text" name="title" value="{{gif.title}}"/><br>
    Tags:<br><input type="text" name="tags" value="{{gif.tags}}"/>
  </p>
  <input type="submit" value="Edit">
</form>

<form action="/{{gif.id}}?_method=delete" method="POST">
  <input type="submit" value="Delete">
</form>