<h1>GIF Library</h1>

<nav>
  <ul class="navbar">
    {{#if currentUser}}
      <li class="navbutton"><a href="/logout">Log out {{currentUser.local.username}}</a></li>
    {{else}}
      <li class="navbutton"><a href="/login">Log in</a></li>
      <li class="navbutton"><a href="/signup">Sign up</a></li>
    {{/if}}
      <li class="navbutton" id="add"><a href="/gifs//new">Add a GIF</a></li>
  </ul>
</nav>

<div>
  <ul>
    {{#each gifs}}
    <li>
      {{!-- target="_blank" opens in a new tab --}}
      <a target="_blank" href="{{this.url}}"><img src="{{this.url}}"></a>
      <a target="_blank" href="/gifs/{{this.id}}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>
</div>