<h1>GIF Library</h1>

<div class="navBar">
    {{#if currentUser}}
      <a href="/logout">Log out {{currentUser.local.username}}</a></li>
    {{else}}
      <a href="/login">Log in</a>
      <a href="/signup">Sign up</a>
    {{/if}}
      <form class="gifOptions" action="">
        <a href="/gifs/new">Add a GIF</a>
        <input type="search" id="search" placeholder="Search GIFs">
      </form>
</div>

<div class="gifBox">
  <ul id="gifTable">
  {{#each gifs}}
      {{!-- target="_blank" opens in a new tab --}}
  <li>
    <a target="_blank" href="/gifs/{{this.id}}" data-tags="{{this.tags}}"><img src="{{this.url}}"></a>
  </li>
  {{/each}}
  </ul>
</div>

<script>
var ul = document.getElementById('gifTable')
var search = document.querySelector('#search')
// search bar functionality
search.addEventListener('keyup', searchFunction)

function searchFunction (event) {
  let listItems = ul.getElementsByTagName('li')
  Array.from(listItems).forEach(item => {
    a = item.getElementsByTagName('a')[0]
    if (a.dataset.tags.includes(event.target.value)) {
      item.style.display = ''
    } else {
      item.style.display = 'none'
    }
  })
}
// display GIFs randomly
for (i = ul.children.length; i > 0; i--) {
  ul.append(ul.children[Math.random() * i | 0])
}
</script>