<h1>GIF Library</h1>

<nav>
  <ul>
    {{#if currentUser}}
      <li><a href="/logout">Log out {{currentUser.local.username}}</a></li>
    {{else}}
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign up</a></li>
    {{/if}}
      <li><a class="button" href="/new">Add a GIF</a></li>
  </ul>
</nav>

<div>
  <ul>
    {{#each gifs}}
    <li>
      {{!-- target="_blank" opens in a new tab --}}
      <a target="_blank" href="{{this.url}}"><img src="{{this.url}}" style="width:125px"></a>
      <a target="_blank" href="{{this.id}}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>
</div>