<h1>{{gif.title}}</h1>

<div class="showpage">
  <img src="{{gif.url}}"></a>
  <div>
    <label>URL</label>
    <input type="text" size="100" value="{{gif.url}}" readonly>
  </div>
  <div>
    <label>Tags</label>
    <input type="text" size="100" value="{{gif.tags}}" readonly>
  </div><br>
  <a class="button" href="/gifs/edit/{{gif.id}}">edit</a>
</div>