<h1>{{gif.title}}</h1>

<div class="showpage">
  <img src="{{gif.url}}"></a>
  <p>
    <input type="text" size="100" value="{{gif.url}}" readonly><br>
    <input type="text" size="100" value="{{gif.tags}}" readonly>
  </p>

  <a class="button" href="/gifs/edit/{{gif.id}}">edit</a>
</div>